<div class="home-container">
  <mat-card class="welcome-card">
    <mat-card-header class="card-title">
      <h1>🎓 CURSOS NETEC</h1>
    </mat-card-header>

    <mat-card-content>
      <mat-grid-list cols="2" rowHeight="300px" gutterSize="16px">
        <mat-grid-tile>
          <div class="text-section">
            <p class="welcome-text">
              Bienvenido a la página de NETEC. Aquí podrás visualizar el catálogo de los cursos disponibles.
            </p>
            <button mat-raised-button color="primary" routerLink="/courses">
              Ver los cursos
            </button>
            <button mat-raised-button color="primary" routerLink="/admin">
              Panel administrativo
            </button>
          </div>
        </mat-grid-tile>

        <mat-grid-tile>
          <div class="image-section">
            <img src="https://static.wixstatic.com/media/96edd2_8f85be446336427d864630af7b68da27~mv2.png/v1/crop/x_0,y_20,w_1205,h_437/fill/w_360,h_130,al_c,q_85,usm_0.66_1.00_0.01,enc_auto/Netec%20-%20Consultor%C3%ADa%20en%20transferencia%20de%20conocimientos%20TI.png"
              alt="Netec Logo" />
          </div>
        </mat-grid-tile>
      </mat-grid-list>
    </mat-card-content>
  </mat-card>
</div>