<h2 mat-dialog-title>{{ form.value.id ? 'Editar Curso' : 'Nuevo Curso' }}</h2>

<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <mat-form-field appearance="fill" class="full-width">
    <mat-label>Nombre</mat-label>
    <input matInput formControlName="name" />
  </mat-form-field>

  <mat-form-field appearance="fill" class="full-width">
    <mat-label>Descripción</mat-label>
    <textarea matInput formControlName="description"></textarea>
  </mat-form-field>

  <mat-form-field appearance="fill" class="full-width">
    <mat-label>Duración</mat-label>
    <input matInput formControlName="duration" />
  </mat-form-field>

  <mat-form-field appearance="fill" class="full-width">
    <mat-label>Nivel</mat-label>
    <input matInput formControlName="level" />
  </mat-form-field>

  <mat-form-field appearance="fill" class="full-width">
    <mat-label>Precio</mat-label>
    <input matInput type="number" formControlName="price" />
  </mat-form-field>

  <div mat-dialog-actions align="end">
    <button mat-button type="button" (click)="onCancel()">Cancelar</button>
    <button mat-raised-button color="primary" type="submit">Guardar</button>
  </div>
</form>